:root {
  --textColor: rgb(65, 64, 66);
  --btnBgColor: #3287b7;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Neutrif Pro";
}

button {
  outline: none !important;
}

a {
  text-decoration: none;
}

.primaryBtn {
  background-color: var(--btnBgColor);
  color: #fff;
  border-radius: 2em;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.primaryBtn > img {
  width: 30px;
  background-color: #fff;
  border-radius: 300px;
  padding: 2px 6px;
  margin-left: 6px;
}

.primaryBtn:hover > img {
  background: transparent;
}
